<div class="container">
  <div id="content">
    <h1>Motivational Quotes</h1>
    <img height=150px width=200px srcset="https://images.unsplash.com/photo-1497561813398-8fcc7a37b567?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="motivation">
    <br>
    <br>
    <div class="quotations">
    <table class="table">
      <thead class="colorful">
          <th>quote</th>
        </thead>
      <tbody class="tbody">
        <tr>
        <td>{{quotes}} </td>
      </tr>
    </tbody>
    </table>
    <div class="border">
	<b> You Can Do It!</b>
    </div>
  </div>
    <form id="GetRandom" action="/" method="post">
      <div class="form-group">
          <input type="submit" value="Get Quote" class="btn btn-primary">
    </div>
    </form>
    <footer>
            <p id="copyright">&copy; Kevin Hill</p>
    </footer>
</div>
</div>
