
.heading_list li {
    display: inline;
}

.colorful {
  background-color: darkgreen;
}

.border {
  background-color: darkgreen;
  height: 25px;
}

.quotations {
    padding-bottom: 20px;
}

.tbody {
    height: 125px;
}

.container {
    color: white;
    max-height: 600px;
    max-width: 450px;
    margin: 0 auto;
}

#content {
    height: 350px;
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
    min-height: 666px;
    padding-top: 25px;
    margin-top: 5px;
}

#content td {
    text-align: justify;
}

#content h1 {
    font-size: 2em;
    margin-left: 10%;
}

#content img {
  margin-left: 25%;
}

#content form {
    margin-left: 35%;
    margin-bottom: 20px;
}

#content footer {
    margin-left: 5%;
    padding-top: 50px;
}

#content b {
    margin-left: 35%;
}